

.hero-title {
  text-align: left;
  color: #3f51b5;
}

#section-hero .container {
  width: 40vw;
  margin-left: 10vw !important;
  margin-top: 60vh !important;
}

/* format how publications are presented */
// authors, journal, link, etc. on second line - add indent 
.second_line {
  margin-left: 20pt;
  display: inline-block;
  font-size: 0.75rem;
}

.second_line .author .journal {
  display: block;
}

// filter and search bar 
#bibfilters {
  width: inherit;
  padding-bottom: 2em;
  display: flex;
}

#bibfilters .bibtex_search {
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

#bibfilters .bibtex_search_textentry {
  flex: 1;
}

// structure of year container - offset the header so you get the side grouping
.year_container {
  display: flex;
  vertical-align: top;
  border-top: solid 1px #3f51b5;
  margin-left: -6rem;
}

.year_container h4 {
  width: 6rem;
  padding-top: 0;
  color: #3f51b5; 
}

.year_container .bibtex_display {
  flex: 1;
}

.year_container .bibtex_display .bibtexentry {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

/* Popup container - can be anything you want */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  min-width: 20vw;
  max-width: 90vw; /* Use viewport width instead of fixed width */
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 20px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-y: auto;
  max-height: 80vh; /* Use viewport height instead of fixed height */
}

/* Add media query to adjust popup width on smaller screens */
@media only screen and (max-width: 768px) {
  .popup .popuptext {
    width: 100vw; /* Make popup full width on smaller screens */
    left: 0;
    transform: translate(-50%,-50%);
  }
}


/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.event-row {
  width: 100%;
  border-top: 1px solid #3f51b5;
  padding-bottom: 1em;
}

.event-row .event-row-date {
  width: 100%;
  background-color: rgba(63, 81, 181, .05);
}

.event-row .event-row-details {
  display: flex;
  vertical-align: center;
  cursor: pointer;
  padding-top: 0.2em;
}

.event-row .event-row-details .event-row-time {
  width: 100pt;
  font-size: 11pt;
  vertical-align: center;
}

.event-row .event-row-details .event-row-time-empty {
  width: 100pt;
}

.event-row .event-row-details .event-row-time:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #3f51b5;
  margin-right: 1em;
}

.event-row .event-row-details .event-row-title {
  padding-right: 1em;
  font-weight: bold;
}

.event-row .event-row-details .event-row-location {
  color: grey;
  font-weight: lighter;
}